text {
    font-family: "Helvetica", serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
}
.grid-item {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

#container {
    min-height: 100vh;
    display: flex;
}
.left{
    width: 50%;
    background-color: gray;
    left: 0;
}
.right{
    width: 50%;
    background-color: darkgray;
    right: 0;
    padding-left: 20px;
}
.centered{
    position: absolute;
    left: 75%;
    top: 50%;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}
.totaal{
    position: absolute;
    right: 15px;
    top:15px;
    min-width: 300px;
    border: 1px solid;
}